@(messages: List[Message], messageForm: Form[Message])

@import helper._

@main("Vos messages") {
   
   Bonjour : @(session.get("nickname")) 
 <h1>@messages.size() message(s)</h1>

    <ul>
        @for(Message <- messages) {
            <li>
                @Message.getLabel  person : @Message.getUser.getNickname 
                
                @form(routes.Application.deleteMessage(Message.getId)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
  
    <h2>Add a new message</h2>
    
    @form(routes.Application.newMessage()) {
        
        Message:
        @inputText(messageForm("label"), '_label -> "Contenu du message")
   
  
        User:
        @select(messageForm("user.id"), 
        		options(UserAccount.options()),
        		'_default -> "--- Choosissez un utilisateur ---",
                '_label -> "User",
                '_error -> messageForm("user").error.map(_.withMessage("Please select your userAccount"))
        		)
        <input type="submit" value="Create">
        
    }   
    <div class="pull-right">
                    			<ul class="nav">
                    				<li>
                    				@form(routes.Application.logout()){
                    				 <input type="submit" value="Deconnexion">
                    				}
                    				</li>
                    			</ul>
                </div>
    
}
        